
body{
	height:100%;
	background: #df9f9f; /*fundo*/
	margin:  0; 
 	width: 1100px;
 	margin-right: auto;
	margin-left: auto;
	background-position:center top;
}
.cabecalho{
	background-color: #ffd9b3; /*listra do cabeçalho*/
	font-size: 22pt;
	font-family: "Caviar Dreams";
	color: white;
	text-align: center;
	height: auto;

}

.menu{
	background-color: #605251; /*lista do menu*/
	font-size: 16pt;
	font-family: "Caviar Dreams";
	text-align: right;
	color: white;
	height: 34px;
	border-radius: 0px 0px 10px 10px;
}
.venda{
	background-color: #d27979; 
	font-size: 12pt;
	font-family: "Caviar Dreams";
	text-align: left;
	width: 850px;
	height: 27px;
	float: right;
	border-radius: 10px;
	margin-top: 40px;
}
div.img {
	margin: 40px;
    float: right;
    margin-right: 59px;
    text-align: center;
 }
div.imagem{
	float: left;
}
h1, h2{
	font-family: "Caviar Dreams";
	color: white;
	text-align: center;
}

p{
	font-family: "Caviar Dreams";
	font-size: 12;
	color: white;
	text-align: left;

}
a {
	text-decoration: none;
	color: white;
	border: 1px;
	border-radius: 10px;
}

div.corpo{
	font-size: 12pt;
	font-family: "Caviar Dreams";
	color: white;
	text-align: center;
}
.pesquisa{
	width: 15%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
    padding: 12px 20px 12px 10px;
    float: left;
    margin-top:-390px;

}
.barralateral{
	float: left;
	width: 230px;
	height: 480px;
	background: #ffb3b3; /*barra lateral*/
	text-align: center;
	color: white;
	font-family: "Caviar Dreams";
	font-size: 20pt;
	border-radius: 10px;
	margin-top:-345px;
}

.formulario, form{
	background-color: #d27979; /*corpo dos formularios*/
	font-size: 16pt;
	font-family: "Caviar Dreams";
	color: white;
	text-align: center;
	width: 600px;
	height: 380px;
	margin: 0 auto;
	border-radius: 10px;

}
.login{
	background-color: #cc6699; /*cabeça do login*/
	font-size: 16pt;
	font-family: "Caviar Dreams";
	color: white;
	text-align: center;
	width: 600px;
	height: 100px;
	margin: 0 auto;

}
.botao{
	border: 2px dotted;
	width: 90px;
	height: 50px;
	border-radius: 10px; 
	padding: 10px;
	font-family: "Caviar Dreams";
	font-size: 12pt;
	color: white;
	background: #df9f9f;
}
.obrigado{
	background: #df9f9f;
	display: block;
    margin: auto;
    width: 55%;
}
footer {
	background-color: #928483; /*listra do cabeçalho*/
	font-size: 12pt;
	font-family: "Caviar Dreams";
	color: white;
	text-align: center;
	padding: 8px 0;
	margin: auto;
	width: 100%;
	bottom: 0;
	margin-top: 750px;
	width: 1100px;
 	margin-right: auto;
	margin-left: auto;
	background-position:center top;


}