body{
	height:100%;
	background: #df9f9f; /*fundo*/
	margin:  0; 
 	width: 1100px;
 	margin-right: auto;
	margin-left: auto;
	background-position:center top;
}
.cabecalho{
	background-color: #ffd9b3; /*listra do cabeçalho*/
	font-size: 22pt;
	font-family: "Caviar Dreams";
	color: white;
	text-align: center;
	max-width: 100%;
    height: auto;

}

.menu{
	background-color: #605251; /*lista do menu*/
	font-size: 16pt;
	font-family: "Caviar Dreams";
	text-align: right;
	color: white;
	height: 34px;
	border-radius: 0px 0px 10px 10px;
}

a {
	text-decoration: none;
	color: white;
	border: 1px;
	border-radius: 10px;
}

.formulario, form{
	background-color: #d98c8c; /*corpo dos formularios*/
	font-size: 16pt;
	font-family: "Caviar Dreams";
	color: white;
	text-align: center;
	width: 600px;
	height: 255px;
	margin: 0 auto;
	border-radius: 0px 0px 10px 10px;
	

}

.login{
	background-color: #d27979; /*cabeça do login*/
	font-size: 16pt;
	font-family: "Caviar Dreams";
	color: white;
	text-align: center;
	width: 600px;
	height: 100px;
	border-radius: 10px;
	margin: 0 auto;
}
.ed{
	font-size: 11pt;
	font-family: "Caviar Dreams";
	color: white;
	text-align: left;

}
.botao{
	border: 2px dotted;
	width: 90px;
	height: 50px;
	border-radius: 10px; 
	padding: 10px;
	font-family: "Caviar Dreams";
	font-size: 12pt;
	color: white;
	background: #df9f9f;
}
footer {
	background-color: #928483; /*listra do cabeçalho*/
	font-size: 12pt;
	font-family: "Caviar Dreams";
	color: white;
	text-align: center;
	padding: 8px 0;
	margin: auto;
	width: 100%;
	bottom: 0;
	margin-top: 300px;
	width: 1100px;
 	margin-right: auto;
	margin-left: auto;
	background-position:center top;


}